.nav-content {
  align-self: flex-start;
  display: flex;
  gap: 0.8vw;
}

.containerMain {
  padding: 1.2vw;

  flex: 1;
  background: var(--backgroundBlock);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1vw;
}

.containerImg {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 25vw;

  border-radius: 20px;
}

.parentImg {
  height: 25vw;
  width: 43vw;
  align-self: center;
  position: relative;
  border-radius: 20px;
  margin-bottom: 3vw;
}

.containerImg img {
  object-fit: contain;
  width: 100%;
  height: 25vw;
  border-radius: 20px;
}

.nav-content .back {
  width: 0.833vw;
  height: 1.389vw;
  padding-left: 0.2vw;
  padding-right: 0.3vw;
}
.nav-content Button {
  color: var(--textWhite);
  background: var(--main);
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.389vw;
}

.nav-content Button:hover {
  color: var(--textWhite);
  background: var(--main);
}

.userLog {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  gap: 0.7vw;
}

.actions {
  position: absolute;
  bottom: -10%;
  left: 30%;
  display: flex;
  background: var(--backgroundBlock);
  border: 4px solid var(--backgroundBlock);
  border-radius: 20px;
  gap: 0.3vw;
}

.actions img {
  filter: brightness(100);
}

.actions div {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.736vw;
}

.favoutitesAction {
  background: var(--main);
}

.likeAction {
  background: #97eab9;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.dislikeAction {
  background: #ffd280;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.favoutitesAction:hover {
  background: rgba(255, 134, 142, 0.3);
}
.favoutitesAction:hover .favIcon path {
  fill: var(--main);
}

.favoutitesAction:active .favIcon {
  fill: var(--textWhite);
  fill-rule: nonzero;
}

.favoutitesAction:active {
  background: #ff7881;
}
.favoutitesAction:active .favIcon path {
  fill: var(--textWhite);
}

.likeAction:hover {
  background: rgba(151, 234, 185, 0.3);
}

.likeAction:hover .like path {
  fill: #97eab9;
}

.dislikeAction:hover {
  background: rgba(255, 210, 128, 0.3);
}

.dislikeAction:hover .dislike path {
  fill: #ffd280;
}

@media (max-width: 425px) {
  .containerMain {
    padding: 4vw;
    gap: 3vw;
  }
  .nav-content {
    gap: 2vw;
  }
  .nav-content .back {
    width: 2.933vw;
    height: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
  }
  .nav-content Button {
    color: var(--textWhite);
    background: var(--main);
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 5vw;
    border-radius: 10px;
    letter-spacing: 2px;
  }
  .userLog {
    gap: 2vw;
  }

  .containerImg {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 50vw;

    border-radius: 20px;
  }

  .parentImg {
    height: 50vw;
    width: 100%;
    align-self: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 10vw;
  }

  .containerImg img {
    object-fit: contain;
    width: 100%;
    height: 50vw;
    border-radius: 20px;
  }
  .actions {
    position: absolute;
    bottom: -17%;
    left: 20%;
    display: flex;
    background: var(--backgroundBlock);
    border: 4px solid var(--backgroundBlock);
    border-radius: 20px;
    gap: 0.3vw;
  }
  .actions div {
    height: 13vw;
    width: 13vw;
  }
  .likeAction:hover {
    background: #97eab9;
  }

  .likeAction:hover .like path {
    fill: white;
  }

  .dislikeAction:hover {
    background: #ffd280;
  }

  .dislikeAction:hover .dislike path {
    fill: white;
  }
}
@media (min-width: 430px) and (max-width: 860px) {
  .actions {
    position: absolute;
    bottom: -10%;
    left: 23%;
    display: flex;
    background: var(--backgroundBlock);
    border: 4px solid var(--backgroundBlock);
    border-radius: 20px;
    gap: 0.3vw;
  }
  .parentImg {
    height: 25vw;
    width: 43vw;
    align-self: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 3vw;
  }
  .nav-content Button {
    color: var(--textWhite);
    background: var(--main);
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 3vw;
  }
  .nav-content .back {
    width: 2.833vw;
    height: 2.3890000000000002vw;
    padding-left: 0.2vw;
    padding-right: 0.3vw;
  }
}
