.containerMain {
  padding: 1.2vw;

  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1vw;
  box-sizing: border-box;
}

.nav-content {
  align-self: flex-start;
  display: flex;
  gap: 0.8vw;
}

.nav-content1 {
  align-self: flex-start;
  justify-content: space-between;
  display: flex;
  gap: 25vw;
}

.nav-content1 img {
  width: 0.833vw;
  height: 1.389vw;
  padding-left: 0.2vw;
  padding-right: 0.3vw;
}

.backGallery {
  display: flex;
  gap: 0.8vw;
}
.nav-content1 Button {
  color: #ffffff;
  background: #ff868e;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.389vw;
}

.nav-content1 Button:hover {
  color: #ffffff;
  background: #ff868e;
}

.nav-content img {
  width: 0.833vw;
  height: 1.389vw;
  padding-left: 0.2vw;
  padding-right: 0.3vw;
}
.nav-content Button {
  color: #ffffff;
  background: #ff868e;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.389vw;
}

.nav-content Button:hover {
  color: #ffffff;
  background: #ff868e;
}

.catId {
  color: #ffffff;
  background: #ff868e;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.389vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f7;
  border-radius: 10px;
  width: 2.6vw;
  cursor: pointer;
  border: 2px solid transparent;
}

.sorting:hover {
  border: 2px solid #fbe0dc;
}

.icon {
  width: 1.319vw;
}

.sorting:hover .icon path {
  fill: #ff868e;
}

.buttonPagination {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-radius: 0.4vw;
  border: none;
  font-weight: 500;
  font-size: 3vw;
  background: #fbe0dc;
  letter-spacing: 2px;
  padding: 12px 30px;
  color: #ff868e;
}

.buttonPagination:disabled {
  background: #f8f8f7;
  cursor: default;
  color: #8c8c8c;
}

.buttonPagination:disabled .arrow path {
  fill: #8c8c8c;
}

@media (min-width: 768px) {
  .buttonPagination {
    border-radius: 0.694vw;
    border: 0;
    padding: 12px 30px;
    font-size: 1.5vw;
  }
}

@media (min-width: 1024px) {
  .buttonPagination {
    border: none;
    padding: 12px 30px;
    font-size: 1.2vw;
  }
}

@media (min-width: 1440px) {
}

.buttonPagination:hover {
  background: #ff868e;
  color: white;
}

.buttonPagination:hover .arrow path {
  fill: white;
}

.paginationContainer {
  display: flex;
  gap: 3vw;
}

.left {
  transform: rotate(-180deg);
}

.buttonPagination:disabled .arrow path {
  fill: #8c8c8c;
}

.buttonPagination:disabled:hover {
  background: #f8f8f7;
  color: #8c8c8c;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.389vw;
  background: #f8f8f7;
  border-radius: 20px;
  width: 100%;
  height: 14vw;
}

.filters p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  color: #8c8c8c;
}

.filterWraper {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.filterReload {
  display: flex;
  align-items: center;
}

.reload {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5vw;
  padding: 0.8vw;
}

.reload:hover {
  background: #ff868e;
}

.reload:hover path {
  fill: white;
}

.upload {
  background: #fbe0dc;
  border-radius: 0.4vw;
  display: flex;
  align-items: center;

  cursor: pointer;

  border: none;
  color: #ff868e;
  padding: 0.7vw;
  gap: 0.7vw;
  font-size: 1.5vw;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .upload {
    border-radius: 0.694vw;
    border: 0;
    color: #ff868e;
    padding-top: 0.694vw;
    padding-bottom: 0.694vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.2vw;
  }
}

@media (min-width: 1024px) {
  .upload {
    border: none;
    font-size: 1vw;
  }
}

@media (min-width: 1440px) {
}

.upload:hover {
  background: #ff868e;
  color: white;
}

.upload:hover .reloadSvg path {
  fill: white;
}

/* .columnOptions p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  color: #8c8c8c;
}

.columnOptions {
  display: flex;
  gap: 1.389vw;
}

.itemColumn {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
}

.itemColumn div {
  display: flex;
  align-items: center;
  justify-content: center;
} */
