.draganddrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47vw;
  height: 40vh;
  background: var(--backgroundBlock);
  border: 2px dashed var(--btnColor);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 4vw;
  padding: 1vw;
}

.draganddrop p {
  position: absolute;
}

.placeImage img {
  width: 15vw;
}

.draganddrop p b {
  font-weight: 500;
}
.uploadedImage {
  height: inherit;
}
.fileText {
  position: absolute;
  bottom: -15%;
}

.errorState {
  background: var(--btnColor);
  border: 2px dashed var(--main);
}

@media (max-width: 425px) {
  .draganddrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 40vh;
    background: var(--backgroundBlock);
    border: 2px dashed var(--btnColor);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 4vw;
    padding: 1vw;
    margin-left: 5vw;
  }

  .draganddrop p {
    width: 50%;
  }

  .placeImage img {
    width: auto;
  }
  .uploadedImage {
    width: 100%;
    object-fit: scale-down;
  }
  .fileText {
    position: absolute;
    bottom: -15%;
    left: 8%;
    width: 100% !important;
  }
  .errorState {
    background: var(--btnColor);
    border: 2px dashed var(--main);
  }
}

@media (max-width: 860px) {
  .draganddrop {
    width: 86vw;
  }
}
