.containerMain {
  padding: 1.2vw;

  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1vw;
}

.nav-content {
  align-self: flex-start;
  display: flex;
  gap: 0.8vw;
}

.nav-content img {
  width: 0.833vw;
  height: 1.389vw;
  padding-left: 0.2vw;
  padding-right: 0.3vw;
}
.nav-content Button {
  color: #ffffff;
  background: #ff868e;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.389vw;
}

.nav-content Button:hover {
  color: #ffffff;
  background: #ff868e;
}

.userLog {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  gap: 0.7vw;
}

.item {
  width: 15vw;
  height: 20.833vw;
  border-radius: 20px;
  background: gray;
}

.item2 {
  width: 16vw;
  height: 9.722vw;
  border-radius: 20px;
  background: gray;
}

.itemsParent {
  gap: 1.3vw;
  align-self: flex-start;

  display: flex;
}
