.containerBack {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 30;
  position: fixed;
  top: 2%;
  right: 2%;
  gap: 1vw;
  width: 50%;
  /* height: 40vw; */
  bottom: 2%;
  padding: 2vw;

  background: var(--background);
  border-radius: 20px;
}
/* h1 {
  font-size: 3vw;
} */

h2 {
  font-size: 3.6rem;
}

/* .containerBack div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.444vw;
  height: 22.222vw;
  background: var(--backgroundBlock);
  border: 2px dashed var(--btnColor);
  border-radius: 20px;
} */

.containerBack div input {
  position: absolute;
}

.uploadBtnloading {
  align-items: center;
  justify-content: center;
  padding-left: 0vw;
  display: flex;
}

.closeDiv {
  align-self: flex-end;
  cursor: pointer;
  position: relative;
  right: 0%;
}

.containerBack button {
  background: var(--main);
  border-radius: 10px;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  cursor: pointer;
  font-size: 1.2vw;
  border: none;
  color: white;
}

.spinner {
  margin-right: 0.5vw;
}

.containerBack button:hover {
  background: var(--btnColor);
  color: var(--main);
}

.close {
  padding: 0.7vw;
  background: var(--backgroundBlock);
  border-radius: 10px;
}
.close:hover {
  background: var(--main);
}

.close:hover path {
  fill: white;
}

.finalMessage {
  width: 97%;
  padding: 1vw;
  gap: 1vw;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .containerBack {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 30;
    position: fixed;
    top: 0%;
    right: 0%;
    gap: 6vw;
    width: 100%;
    height: 100%;
    /* height: 40vw; */
    bottom: 0%;
    padding: 2vw;

    border-radius: 0;

    background: var(--background);
  }
  h1 {
    font-size: 5.5vw;
  }
  p {
    width: 70%;
  }
  .containerBack button {
    background: var(--main);
    border-radius: 10px;
    padding-top: 1.5vw;
    margin-top: 4vw;
    width: 96%;
    padding-bottom: 1.5vw;
    cursor: pointer;
    gap: 1vw;
    font-size: 4vw;
    margin-left: 3vw;
    border: none;
    color: white;
  }
  .finalMessage {
    width: 90%;
    margin-left: 2vw;
    padding: 1vw;
    margin-top: 5vw;
    gap: 1vw;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .close {
    padding: 2vw;
    background: var(--backgroundBlock);
    border-radius: 10px;
  }
}

@media (min-width: 765px) and (max-width: 56.25em) {
  .containerBack {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 30;
    position: fixed;
    top: 0%;
    right: 0%;
    gap: 6vw;
    width: 100%;
    height: 100%;
    /* height: 40vw; */
    bottom: 0%;
    padding: 2vw;

    border-radius: 0;

    background: var(--background);
  }
  h1 {
    font-size: 5.5vw;
  }
  p {
    font-size: 2.5vw;
  }
  .containerBack button {
    background: var(--main);
    border-radius: 10px;
    padding-top: 1.5vw;
    margin-top: 4vw;
    width: 96%;
    padding-bottom: 1.5vw;
    cursor: pointer;
    gap: 1vw;
    font-size: 4vw;
    margin-left: 3vw;
    border: none;
    color: white;
  }
  .finalMessage {
    width: 90%;
    margin-left: 2vw;
    padding: 1vw;
    margin-top: 5vw;
    gap: 1vw;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .close {
    padding: 2vw;
    background: var(--backgroundBlock);
    border-radius: 10px;
  }
}
