.userLogElement {
  flex: 1;
  display: flex;
  background: var(--backgroundBlock2);
  border-radius: 10px;
  padding: 1vw;
  color: #8c8c8c;
  align-items: center;
  font-weight: 400;
  gap: 1vw;
}
.userLogElement b {
  font-weight: 500;
  color: var(--textBlack);
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundBlock);
  padding: 0.2vw;
  border-radius: 5px;
}
.time span {
  color: var(--textBlack);
}
.userLogInfo {
  flex: 1;
}
.userLogIcon {
  align-self: flex-end;
}

@media (max-width: 425px) {
  .userLogElement {
    align-items: flex-start;
    padding: 4vw;
    flex-direction: column;
  }
  .userlogP {
    font-size: 4vw;
  }
  .time {
    align-self: flex-start;
    padding: 0.8vw;
  }
  .userLogIcon {
    position: absolute;
    justify-self: top;
  }
}
