.App {
  box-sizing: border-box;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  -webkit-transition: 0.4s;
}

body {
  background-color: var(--background);
  box-sizing: border-box;
}
h1 {
  font-weight: 500;
  font-style: normal;
  line-height: 4vw;
  color: var(--textBlack);
  margin-bottom: 0.694vw;
}
.greetings p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.38vw;
  line-height: 2vw;
  color: #8c8c8c;
}
.burgerMenu {
  display: none;
}
.main {
  display: flex;
  gap: 6.5vw;
}

.greetings {
  margin-bottom: 4.1vw;
}
.options-container p {
  font-weight: 500;
  font-size: 1.38vw;
  line-height: 2vw;
  margin-bottom: 1.389vw;
  color: var(--textBlack);
}

.parent {
  position: fixed;
}

.logo {
  display: flex;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 15vw;
  left: 9vw;
  top: 3vw;
}
.logotext path {
  fill: var(--textBlack);
}
section {
  display: flex;
  flex-direction: column;
  padding-top: 11vw;
  padding-left: 14vw;
}
.options {
  display: flex;
  gap: 0.694vw;
}
.option-button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16vw;
  height: 20vw;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.option-button:hover div {
  border: 4px solid var(--backgroundBlock);
}

.option-button:active div {
  border: 4px solid var(--btnColor);
}

.option-button:hover Button {
  background: var(--btnColor);
}
.option-button:active Button {
  color: var(--textWhite);
  background: var(--main);
}

.option-button.active div {
  border: 4px solid var(--btnColor);
}

.option-button.active Button {
  color: var(--textWhite);
  background: var(--main);
}

.option-button {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
  cursor: pointer;
}

.options div button {
  background: var(--backgroundBlock);
  border-radius: 10px;
  border: 0;
  color: var(--main);
  padding: 10px;
}

.voting-container {
  background-color: #b4b7ff;
}

.voting-container img {
  position: relative;
  width: 10vw;
  height: 12vw;
}

.breed-container {
  background: #97eab9;
}
.breed-container img {
  position: relative;
  width: 10.778vw;
  height: 16.194vw;
}

.gallery-container {
  background: #ffd280;
}

.gallery-container img {
  position: relative;
  width: 10.778vw;
  height: 16.194vw;
}

.hidden {
  display: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  top: 2vw;
  gap: 0.8vw;
  position: relative;
  left: 45vw;
  height: auto;
}

.switch {
  position: relative;
  top: 2.1vw;
  left: 40vw;
  display: inline-block;
  width: 3.056vw;
  height: 1.667vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btnColor);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.111vw;
  width: 1.111vw;
  left: 4px;
  bottom: 4px;
  background-color: var(--main);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btnColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--btnColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.4vw);
  -ms-transform: translateX(1.4vw);
  transform: translateX(1.4vw);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 425px) {
  .main {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .parent {
    position: fixed;
    width: 100%;
    /* margin-left: 4vw; */
  }
  .burgerMenu {
    align-self: center;
    justify-self: flex-start;
    display: block;
  }
  .logo {
    left: 5.333vw;
    width: 20vw;
  }
  .option-button div {
    display: none;
  }
  section {
    width: 100%;
    align-items: flex-start;
    padding-left: 0;
    gap: 10vw;
    padding-top: 20vw;
    padding-right: 0;
    margin-right: 0;
  }
  .greetings h1 {
    font-size: 10vw;
  }
  .greetings {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 6vw;
  }
  .greetings p {
    font-size: 4vw;
    width: 100%;
  }
  .options-container {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 96%;
  }
  .options-container p {
    font-size: 4vw;
  }
  .options {
    gap: 4vw;
    width: 93%;
    flex-direction: column;
  }
  .options div button {
    font-size: 3.5vw;
  }
  .app {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    top: 0;
    gap: 2vw;
    width: 100%;
    /* margin-left: 3.6vw;
    margin-right: 3.6vw; */
    position: relative;
    left: 0;
    height: auto;
    background: var(--background);
  }
}
@media (min-width: 768px) {
  .logo {
    width: 7.222vw;
    position: fixed;
    left: 6vw;
    top: 2vw;
  }
  h1 {
    font-size: 3vw;
  }
  .voting-container img {
    width: 10vw;
    height: 12vw;
  }
  .breed-container img {
    width: 11.125vw;
    height: 14.319vw;
  }
  .gallery-container img {
    width: 10.778vw;
    height: 16.194vw;
  }

  .option-button div {
    width: 16vw;
    height: 20vw;
  }
  section {
    padding-top: 7vw;
    padding-left: 6vw;
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .option-button div {
    width: 9.583vw;
    height: 13.75vw;
  }
  .gallery-container img {
    position: relative;
    width: 7.778vw;
    height: 13.194vw;
  }
  .breed-container img {
    position: relative;
    width: 8.125vw;
    height: 11.319vw;
  }
  .voting-container img {
    position: relative;
    width: 6.944vw;
    height: 8.644vw;
  }
  .hidden {
    display: none;
  }
  h1 {
    font-size: 3vw;
  }
}

@media (min-width: 1440px) {
  .logo {
    position: fixed;
    left: 8vw;
    top: 2vw;
  }
  .option-button div {
    width: 9.583vw;
    height: 13.75vw;
  }
  .gallery-container img {
    position: relative;
    width: 7.778vw;
    height: 13.194vw;
  }
  .breed-container img {
    position: relative;
    width: 8.125vw;
    height: 11.319vw;
  }
  .voting-container img {
    position: relative;
    width: 6.944vw;
    height: 8.644vw;
  }
  h1 {
    font-size: 3vw;
  }

  section {
    padding-top: 8vw;
    padding-left: 8vw;
  }
  .hidden {
    display: none;
  }
}
