body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main: #ff868e;
  --background: #f8f8f7;
  /* --background: #1d1d1d; */
  --whiteBg: #f8f8f7;
  --darkBg: #1d1d1d;
  --textBlack: #1d1d1d;
  /* --textBlack: #ffffff; */

  /* --backgroundBlock: rgb(43, 43, 43); */
  --backgroundBlock: #ffffff;
  --white: #ffffff;
  --dark: rgb(43, 43, 43);
  /* --backgroundBlock2: rgb(49, 49, 49); */
  --backgroundBlock2: #f8f8f7;
  --dark2: rgb(49, 49, 49);
  /* --btnColor: rgba(255, 134, 142, 0.2); */
  --btnColor: #fbe0dc;
  --btnColorLight: #fbe0dc;
  --btnColorDark: rgba(255, 134, 142, 0.2);
  --textWhite: #ffffff;
}
