.cardbutton {
  background: #fbe0dc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0.8vw;
}

.cardbutton:hover {
  background: #ff868e;
}

.cardbutton:hover svg path {
  fill: white;
}

.cardbutton:hover img {
  filter: brightness(100);
}
