.container1 {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 16vw);
  grid-template-rows: repeat(12, 9.722vw);
  grid-auto-rows: 9.722vw 9.722vw;
  gap: 1.042vw 1.042vw;
  justify-content: center;
  align-content: start;
  justify-items: stretch;
  grid-template-areas:
    "frst sec thrd"
    "frst fourth fourth"
    "s1 fourth fourth"
    "s2 s3 m1"
    "b2 b2 m1"
    "b2 b2 sl"
    "frst2 sec2 thrd2"
    "frst2 fourh2 fourh2"
    "s11 fourh2 fourh2"
    "s22 s33 m11"
    "b22 b22 m11"
    "b22 b22 sll";
  width: 47.222vw;
}

.container1 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  object-position: auto;
}

.container1 div {
  cursor: pointer;
  border-radius: 20px;
}

.container .label1 {
  cursor: pointer;
  border-radius: 10px;
}

.container .overlay1 {
  justify-content: center;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}
#heart {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  background-color: white;
  padding: 0.7vw;
}

.overlay1 div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1vw;
  background: ${({ theme }) => theme.textWhite};
  border-radius: 5px;
}

.container1 div:hover .overlay1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  opacity: 1;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
}

.container1 div:hover .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 1;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
}

.container div:hover .overlay1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  opacity: 1;
  border-radius: 20px;
  background: rgba(255, 134, 142, 0.6);
}

.overlay1 p {
  font-size: 1.4vw;
  text-align: center;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;

  padding-left: 2vw;
  padding-right: 2vw;
  color: ${({ theme }) => theme.main};
}

.frst {
  position: relative;
  grid-area: frst;
}

.sec {
  position: relative;
  grid-area: sec;
}

.thrd {
  position: relative;
  grid-area: thrd;
}

.fourth {
  position: relative;
  grid-area: fourth;
}

.s1 {
  position: relative;
  grid-area: s1;
}

.s2 {
  position: relative;
  grid-area: s2;
}

.s3 {
  position: relative;
  grid-area: s3;
}

.m1 {
  position: relative;
  grid-area: m1;
}

.b2 {
  position: relative;
  grid-area: b2;
}

.sl {
  position: relative;
  grid-area: sl;
}

.frst2 {
  position: relative;
  grid-area: frst2;
}

.sec2 {
  position: relative;
  grid-area: sec2;
}

.thrd2 {
  position: relative;
  grid-area: thrd2;
}

.fourh2 {
  position: relative;
  grid-area: fourh2;
}

.s11 {
  position: relative;
  grid-area: s11;
}

.s22 {
  position: relative;
  grid-area: s22;
}

.s33 {
  position: relative;
  grid-area: s33;
}

.m11 {
  position: relative;
  grid-area: m11;
}

.b22 {
  position: relative;
  grid-area: b22;
}

.sll {
  position: relative;
  grid-area: sll;
}

.frst3 {
  position: relative;
  grid-area: frst3;
}

.sec3 {
  position: relative;
  grid-area: sec3;
}

.thrd3 {
  position: relative;
  grid-area: thrd3;
}

.foruth3 {
  position: relative;
  grid-area: foruth3;
}

.s111 {
  position: relative;
  grid-area: s111;
}

.containerImg {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 25vw;

  border-radius: 20px;
}

.parentImg {
  height: 25vw;
  width: 44.444vw;
  align-self: center;
  position: relative;
  border-radius: 20px;
}

.containerImg img {
  object-fit: contain;
  width: 100%;
  height: 25vw;
}
.singleCat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
}
.headingCat {
  position: absolute;
  top: -12%;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  background: ${({ theme }) => theme.backgroundBlock};
  border-radius: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  line-height: 3.611vw;
  /* identical to box height */

  color: ${({ theme }) => theme.textMain};
}

.catDesc {
  border: 2px solid ${({ theme }) => theme.btnColor};
  border-radius: 20px;
  width: 44.444vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}

.mainDescr {
  margin-top: 3vw;
  margin-left: 1.6vw;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 1.389vw;
  margin-right: 1.6vw;
  /* identical to box height */

  color: #8c8c8c;
}

.ContentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.propsContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: center;
  margin-bottom: 2vw;
}

p b {
  font-weight: 500;
  color: ${({ theme }) => theme.textMain};
}

/* p { ADD IN SEPARATE FILE!!!
  font-weight: 400;
  color: #8c8c8c;
  font-family: "Jost";
  font-style: normal;
  font-size: 1.3vw;
} */

.textDescr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  gap: 3vw;
}

@media (max-width: 37.5em) {
  .container1 {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 100%;
    grid-template-rows: repeat(20, 55vw);
    grid-auto-rows: 9.722vw 9.722vw;
    gap: 2.5vw 0vw;
    justify-content: center;
    align-content: start;
    justify-items: stretch;
    grid-template-areas:
      "frst"
      "sec"
      "thrd"
      "fourth"
      "s1"
      "s2"
      "s3"
      "m1"
      "b2"
      "sl"
      "frst2"
      "sec2"
      "thrd2"
      "fourth2"
      "s11"
      "s22"
      "s33"
      "m11"
      "b22"
      "sll";
    width: 100%;
  }
  .containerImg {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 60vw;

    border-radius: 20px;
  }
  /* .containerImg {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 50vw;

    border-radius: 20px;
  }

  .parentImg {
    height: 50vw;
    width: 100%;
    align-self: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 10vw;
  }

  .containerImg img {
    object-fit: contain;
    width: 100%;
    height: 50vw;
    border-radius: 20px;
  } */

  .parentImg {
    height: 60vw;
    width: 100%;
    align-self: center;
    position: relative;
    border-radius: 20px;
  }

  .containerImg img {
    object-fit: contain;
    width: 99%;
    height: 60vw;
  }
  .singleCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13vw;

    width: 100%;
  }
  .headingCat {
    position: absolute;
    top: -3%;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    background: ${({ theme }) => theme.backgroundBlock};
    border-radius: 20px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 5.333vw;
    /* identical to box height */

    color: ${({ theme }) => theme.textMain};
  }

  .catDesc {
    border: 2px solid ${({ theme }) => theme.btnColor};
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    padding-bottom: 5vw;
  }

  .mainDescr {
    margin-top: 8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 4.267vw;
    /* identical to box height */

    color: #8c8c8c;
  }

  .ContentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
  }

  .propsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    justify-content: flex-start;
    margin-bottom: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  p b {
    font-weight: 500;
    color: ${({ theme }) => theme.textMain};
  }

  p {
    font-weight: 400;
    color: #8c8c8c;
    font-family: "Jost";
    font-style: normal;
    font-size: 4.267vw;
    line-height: 23px;
  }

  .textDescr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 4vw;
  }
  .overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
  }
  #heart {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: white;
    padding: 2vw;
  }

  .overlay1 div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1vw;
    background: ${({ theme }) => theme.textWhite};
    border-radius: 5px;
  }

  .container1 div:hover .overlay1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    opacity: 1;
    border-radius: 20px;
    background: rgba(255, 134, 142, 0.6);
  }

  .container1 div:hover .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 1;
    border-radius: 20px;
    background: rgba(255, 134, 142, 0.6);
  }

  .container div:hover .overlay1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    opacity: 1;
    border-radius: 20px;
    background: rgba(255, 134, 142, 0.6);
  }

  .overlay1 p {
    font-size: 5vw;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;

    padding-left: 4vw;
    padding-right: 4vw;
    color: ${({ theme }) => theme.main};
  }
}
@media (min-width: 765px) and (max-width: 75em) {
  .mainDescr {
    margin-top: 3vw;
    margin-left: 1.6vw;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    margin-right: 1.6vw;
    /* identical to box height */

    color: #8c8c8c;
  }
  .catDesc {
    border: 2px solid ${({ theme }) => theme.btnColor};
    border-radius: 20px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
  }
}
