.searchInput {
  font-size: 1.3vw;
  font-weight: 400;
  width: 35vw;
  padding-top: 0.8vw;
  padding-right: 2vw;
  padding-bottom: 0.8vw;
  padding-left: 2vw;
  background: var(--backgroundBlock);
  border: 2px solid transparent;
  border-radius: 20px;
  color: #8c8c8c;
}

.searchInput:focus {
  outline-width: 0;
  border: 2px solid var(--btnColor);
}
::placeholder {
  color: #8c8c8c;
}

.searchBar {
  position: relative;
}

.searchBtn {
  position: absolute;
  bottom: 10%;
  right: 1vw;
}

.searchBtn img {
  width: 1.39vw;
  height: 1.39vw;
}

.searchIcon {
  width: 1.39vw;
  height: 1.39vw;
}
.userPages {
  display: flex;
  gap: 0.5vw;
}

.activeIcon {
  display: flex;
  background: var(--backgroundBlock);
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.like-icon {
  display: flex;
  background: var(--backgroundBlock);
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
  align-items: center;
  justify-content: center;
}

.burgerMenu {
  display: none;
}

.iconSvgHead {
  /* width: 2.083vw;
  height: 2.083vw; */
  align-items: center;
  justify-content: center;
}

.iconSvgHead path {
  fill: var(--main);
}

.like-icon:hover {
  background: var(--btnColor);
}

.like-icon:active {
  background: var(--main);
}
.like-icon:active .iconSvgHead path {
  fill: var(--textWhite);
}
.activeIcon {
  display: flex;
  background: var(--main);
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}

.activeIcon .iconSvgHead path {
  fill: var(--textWhite);
}

@media (max-width: 425px) {
  .header {
    margin-top: 3vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    width: 100%;
  }
  .userPages {
    align-self: flex-end;
    gap: 2vw;
  }
  .like-icon {
    display: flex;
    background: var(--backgroundBlock);
    border-radius: 20px;
    cursor: pointer;

    padding: 3vw;
  }
  .searchBar {
    width: 100%;
    position: relative;
  }
  .searchContainer {
    width: 100%;
  }
  .searchInput {
    font-size: 4.5vw;
    font-weight: 400;
    width: 95%;
    padding-top: 2.5vw;
    padding-right: 2vw;
    padding-bottom: 2.5vw;
    padding-left: 2vw;
    background: var(--backgroundBlock);
    border: 2px solid transparent;
    border-radius: 20px;
  }
  .searchIcon {
    width: 5.5vw;
    height: 5.5vw;
    padding: 1.2vw;
  }
  .searchBtn {
    position: absolute;
    bottom: 12%;
    right: 2.5vw;
  }
  .burgerMenu {
    display: block;
  }
  .ham {
    margin-right: 32vw;
    display: flex;
    background: var(--backgroundBlock);
    border-radius: 20px;
    cursor: pointer;
    justify-self: flex-start;
    padding: 3vw;
  }
  .activeIcon {
    display: flex;
    background: var(--main);
    border-radius: 20px;
    cursor: pointer;

    padding: 3vw;
  }
}

@media (min-width: 1440px) {
  ::placeholder {
    font-size: 20px;
  }
}
