.searchInput {
  font-size: 1.3vw;
  font-weight: 400;
  width: 35vw;
  padding-top: 0.8vw;
  padding-right: 2vw;
  padding-bottom: 0.8vw;
  padding-left: 2vw;
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 20px;
}

.searchInput:focus {
  outline-width: 0;
  border: 2px solid #fbe0dc;
}
::placeholder {
  color: #8c8c8c;
}

.searchBar {
  position: relative;
}

.searchBtn {
  position: absolute;
  bottom: 10%;
  right: 1vw;
}

.searchBtn img {
  width: 1.39vw;
  height: 1.39vw;
}

.activeIcon {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.like-icon {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}

.iconSvgHead {
  /* width: 2.083vw;
  height: 2.083vw; */
  align-items: center;

  justify-content: center;
}

.iconSvgHead path {
  fill: #ff868e;
}

.like-icon:hover {
  background: #fbe0dc;
}

.like-icon:active {
  background: #ff868e;
}
.like-icon:active .iconSvgHead path {
  fill: #ffffff;
}
.activeIcon {
  display: flex;
  background: #ff868e;
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}

.activeIcon .iconSvgHead path {
  fill: #ffffff;
}
@media (min-width: 1440px) {
  ::placeholder {
    font-size: 20px;
  }
}
