.searchInput {
  font-size: 1.3vw;
  font-weight: 400;
  width: 35vw;
  padding-top: 1vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  background: #ffffff;
  border: 0;
  border-radius: 20px;
}

.searchInput:focus {
  border-width: 0;
}
::placeholder {
  color: #8c8c8c;
}

.searchBtn {
  position: absolute;
  top: 1%;
  right: 15vw;
}

.searchBtn img {
  width: 1.389vw;
  height: 1.389vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.like-icon {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;

  padding: 0.8vw;
}
.like-icon img {
  width: 2.083vw;
  height: 2.083vw;
  align-items: center;
  justify-content: center;
}

.like-icon:hover {
  background: #fbe0dc;
}

.like-icon:active {
  background: #ff868e;
}

.like-icon:active img {
  filter: brightness(100);
}

@media (min-width: 1440px) {
  ::placeholder {
    font-size: 20px;
  }
}
