/* .swiper-pagination-bullet-active {
  opacity: 1 !important;

  background-color: var(--main) !important;
}
.swiper-pagination-bullet1 {
  opacity: 0.21 !important;
  background-color: #ffb5ba !important;
} */
:root {
  --swiper-theme-color: var(--main);
  --swiper-pagination-bullet-inactive-color: var(--swiper-theme-color);
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding: 0.5vw;
  background-color: var(--backgroundBlock) !important;
  position: absolute !important;
  left: 42% !important;
  bottom: -3% !important;
  border-radius: 20px;
  width: fit-content !important;
}

@media (max-width: 425px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    padding: 0.5vw;
    background-color: var(--backgroundBlock) !important;
    position: absolute !important;
    left: 38% !important;
    bottom: -2% !important;
    border-radius: 20px;
    width: fit-content !important;
  }
}
